<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="arm_trans" params="side">
        <transmission name="shoulder_yaw_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="shoulder_yaw_motor_${side}" />
                <joint name="shoulder_yaw_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="shoulder_pitch_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="shoulder_pitch_motor_${side}" />
                <joint name="shoulder_pitch_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="shoulder_roll_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="shoulder_roll_motor_${side}" />
                <joint name="shoulder_roll_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="elbow_pitch_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="elbow_pitch_motor_${side}" />
                <joint name="elbow_pitch_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>


        <transmission name="elbow_roll_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="elbow_roll_motor_${side}" />
                <joint name="elbow_roll_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="wrist_yaw_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="wrist_yaw_motor_${side}" />
                <joint name="wrist_yaw_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="wrist_pitch_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="wrist_pitch_motor_${side}" />
                <joint name="wrist_pitch_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="finger1_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="finger1_motor_${side}" />
                <joint name="finger1_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="finger2_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="finger2_motor_${side}" />
                <joint name="finger2_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="finger1_tip_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="finger1_tip_motor_${side}" />
                <joint name="finger1_tip_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>

        <transmission name="finger2_tip_trans_${side}" type="pr2_mechanism_model/SimpleTransmission">
                <actuator name="finger2_tip_motor_${side}" />
                <joint name="finger2_tip_joint_${side}" />
                <mechanicalReduction>1</mechanicalReduction>
                <motorTorqueConstant>1</motorTorqueConstant>
        </transmission>
</xacro:macro>

<xacro:arm_trans side="left"/>
<xacro:arm_trans side="right"/>
</robot>

