<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159"/>
  <xacro:property name="prefix" value="amigo/"/>
    
  <joint name="base_kinect/base_kinect_joint" type="fixed">
    <origin xyz="0.3 0 0.26" rpy="0 -0.07 0" /> <!-- THESE VALUES STILL HAVE TO BE CALIBRATED!! -->
    <parent link="${prefix}base" />
    <child link="${prefix}base_kinect/openni_camera" />
  </joint>
  
  <link name="${prefix}base_kinect/openni_camera">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001" />
    </inertial>
    <visual>
      <origin xyz=" 0 0 0 " rpy="0 0 0" />
      <geometry>
	<!--<box size="0 0 0"/>-->
        <!--mesh filename="package://amigo_description/description/kinect/meshes/kinect.dae" scale="0.001 0.001 0.001"/-->
        <mesh filename="package://amigo_description/media/meshes/kinect/kinect_without_base.dae"/>
      </geometry>
    </visual>
    <collision>
     <origin xyz=" 0 0 0 " rpy="0 0 0" />
      <geometry>
	<!--<box size="0.01 0.01 0.01"/>-->
        <!--<mesh filename="package://amigo_description/description/kinect/meshes/kinect.dae" scale="0.001 0.001 0.001"/>-->
        <mesh filename="package://amigo_description/media/meshes/kinect/kinect_without_base.dae"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_kinect/kinect_depth_joint" type="fixed">
    <origin xyz="0 0.018 0" rpy="0 0 0" />
    <parent link="${prefix}base_kinect/openni_camera" />
    <child link="${prefix}base_kinect/openni_depth_frame" />
  </joint>

  <link name="${prefix}base_kinect/openni_depth_frame">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001" />
    </inertial>
  </link>

  <joint name="base_kinect/kinect_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    <parent link="${prefix}base_kinect/openni_depth_frame" />
    <child link="${prefix}base_kinect/openni_depth_optical_frame" />
  </joint>

  <link name="${prefix}base_kinect/openni_depth_optical_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.0001" />
    </inertial>
  </link>


  <joint name="base_kinect/kinect_rgb_joint" type="fixed">
    <origin xyz="0 -0.005 0" rpy="0 0 0" />
    <parent link="${prefix}base_kinect/openni_camera" />
    <child link="${prefix}base_kinect/openni_rgb_frame" />
  </joint>

  <link name="${prefix}base_kinect/openni_rgb_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.0001" />
    </inertial>
  </link>


  <joint name="base_kinect/kinect_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    <parent link="${prefix}base_kinect/openni_rgb_frame" />
    <child link="${prefix}base_kinect/openni_rgb_optical_frame" />
  </joint>

  <link name="${prefix}base_kinect/openni_rgb_optical_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.0001" />
    </inertial>
  </link>

</root>

