<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <!--======== Plugins ========-->
  <gazebo>
      <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1000.0</updateRate>
        <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
      </controller:gazebo_ros_controller_manager>

       <controller:gazebo_ros_imu name="imu_controller" plugin="libgazebo_ros_imu.so">
         <alwaysOn>true</alwaysOn>
         <updateRate>1000.0</updateRate>
         <bodyName>base_link</bodyName>
         <topicName>/imu/data</topicName>
	 <serviceName>imu_service</serviceName>
	 <gaussianNoise>2.89e-08</gaussianNoise>
         <xyzOffset>0 0 0</xyzOffset>	 
         <rpyOffset>0 0 0</rpyOffset>
         <interface:position name="imu_position_iface"/>
       </controller:gazebo_ros_imu>
  </gazebo>

  <gazebo reference="front_laser">
    <sensor:ray name="front_laser_sensor">
      <origin>0.0 0.0 0.0</origin>
      <rayCount>683</rayCount>
      <rangeCount>683</rangeCount>
      <laserCount>1</laserCount>
      <displayRays>false</displayRays>
      <minAngle>-120</minAngle>
      <maxAngle> 120</maxAngle>
      <minRange>0.05</minRange>
      <maxRange>10.0</maxRange>
      <resRange>0.01</resRange>
      <updateRate>100.0</updateRate>
      <controller:gazebo_ros_laser name="front_laser_sensor_controller" plugin="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>15.0</updateRate>
        <topicName>base_scan</topicName>
        <frameName>/front_laser</frameName>
	<hokuyoMinIntensity>101</hokuyoMinIntensity>
        <interface:laser name="front_laser_sensor_iface"/>
      </controller:gazebo_ros_laser>
    </sensor:ray>
  </gazebo>

  <!--gazebo reference="back_laser">
    <sensor:ray name="back_laser_sensor">
      <origin>0.0 0.0 0.0</origin>
      <rayCount>683</rayCount>
      <rangeCount>683</rangeCount>
      <laserCount>1</laserCount>
      <displayRays>false</displayRays>
      <minAngle>-120</minAngle>
      <maxAngle> 120</maxAngle>
      <minRange>0.05</minRange>
      <maxRange>10.0</maxRange>
      <resRange>0.01</resRange>
      <updateRate>100.0</updateRate>
      <controller:gazebo_ros_laser name="back_laser_sensor_controller" plugin="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>15.0</updateRate>
        <topicName>base_scan</topicName>
        <frameName>/back_laser</frameName>
	<hokuyoMinIntensity>101</hokuyoMinIntensity>
        <interface:laser name="back_laser_sensor_iface"/>
      </controller:gazebo_ros_laser>
    </sensor:ray>
  </gazebo-->
  
  <gazebo reference="torso_laser">
    <sensor:ray name="torso_laser_sensor">
      <origin>0.0 0.0 0.0</origin>
      <rayCount>683</rayCount>
      <rangeCount>683</rangeCount>
      <laserCount>1</laserCount>
      <displayRays>false</displayRays>
      <minAngle>-120</minAngle>
      <maxAngle> 120</maxAngle>
      <minRange>0.05</minRange>
      <maxRange>10.0</maxRange>
      <resRange>0.01</resRange>
      <updateRate>100.0</updateRate>
      <controller:gazebo_ros_laser name="torso_laser_sensor_controller" plugin="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>15.0</updateRate>
        <topicName>top_scan</topicName>
        <frameName>/torso_laser</frameName>
	<hokuyoMinIntensity>101</hokuyoMinIntensity>
        <interface:laser name="torso_laser_sensor_iface"/>
      </controller:gazebo_ros_laser>
    </sensor:ray>
  </gazebo>
  
  <gazebo reference="openni_camera">
    <sensor:camera name="openni_camera">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>640 480</imageSize>
      <hfov>60</hfov>
      <nearClip>0.05</nearClip>
      <farClip>3</farClip>
      <updateRate>20</updateRate>
      <baseline>0.1</baseline>
      <controller:gazebo_ros_openni_kinect name="kinect_camera_controller" plugin="libkinect_controller.so"> <!-- THIS IS THE FORKED VERSION UNTIL NOW (OCT16 2012) THE VERSION IN GAZEBO_PLUGINS WAS NOT SHOWING DEPTH IMAGE PROPERLY!! -->
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
	<cameraName>camera</cameraName>
        <imageTopicName>/camera/rgb/image_rect_color</imageTopicName>
	<cameraInfoTopicName>/camera/rgb/camera_info</cameraInfoTopicName>
	<depthImageTopicName>/camera/depth_registered/image</depthImageTopicName>
	<depthImageCameraInfoTopicName>/camera/depth/camera_info</depthImageCameraInfoTopicName>
	<pointCloudTopicName>/camera/rgb/points</pointCloudTopicName>
        <frameName>/openni_depth_optical_frame</frameName>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
	<CxPrime>0.0</CxPrime>
	<Cx>0.0</Cx>
	<Cy>0.0</Cy>
	<focalLength>0.0</focalLength>
	<hackBaseline>0.0</hackBaseline>
      </controller:gazebo_ros_openni_kinect>
    </sensor:camera>
  </gazebo>

  <gazebo reference="base_kinect_openni_camera">
    <sensor:camera name="base_kinect_openni_camera">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>640 480</imageSize>
      <hfov>60</hfov>
      <nearClip>0.05</nearClip>
      <farClip>3</farClip>
      <updateRate>20</updateRate>
      <baseline>0.1</baseline>
      <controller:gazebo_ros_openni_kinect name="base_kinect_camera_controller" plugin="libkinect_controller.so"> <!-- THIS IS THE FORKED VERSION UNTIL NOW (OCT16 2012) THE VERSION IN GAZEBO_PLUGINS WAS NOT SHOWING DEPTH IMAGE PROPERLY!! -->
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
	<cameraName>base_camera</cameraName>
        <imageTopicName>/base_camera/rgb/image_color</imageTopicName>
	<cameraInfoTopicName>/base_camera/rgb/camera_info</cameraInfoTopicName>
	<depthImageTopicName>/base_camera/depth/image</depthImageTopicName>
	<depthImageCameraInfoTopicName>/base_camera/depth/camera_info</depthImageCameraInfoTopicName>
	<pointCloudTopicName>/base_camera/rgb/points</pointCloudTopicName>
        <frameName>/base_kinect_openni_depth_optical_frame</frameName>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
	<CxPrime>0.0</CxPrime>
	<Cx>0.0</Cx>
	<Cy>0.0</Cy>
	<focalLength>0.0</focalLength>
	<hackBaseline>0.0</hackBaseline>
      </controller:gazebo_ros_openni_kinect>
    </sensor:camera>
  </gazebo>

</robot>
