<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <author>Kris van Tienhoven</author>
   <license>BSD</license>
   <review status="unreviewed" notes=""/>


<!--base plate at the bottom of the bottomcovers-->
<xacro:my_link_textured name="base_plate" mass="0.1" texture="aluminium">
   <cylinder radius="0.333" length="0.02" />
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" /> 
</xacro:my_link_textured>

  <joint name="base_plate_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_plate"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
  </joint>


<!--the extra sliders next to and behind the spindle-->
<!--right link-->
<xacro:my_link_texturedmesh name="torso_assist_slider_right" mass="0.01" texture="aluminium">
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="-0.4  0.0 0.0" rpy="0 1.5708 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
   <mesh filename="package://amigo_description/media/meshes/torsoassistslidertextured.dae" scale="0.004 0.004 0.005"/>
</xacro:my_link_texturedmesh>

<!--left link-->
<xacro:my_link_texturedmesh name="torso_assist_slider_left" mass="0.01" texture="aluminium">
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="-0.4  0.0 0.0" rpy="0 1.5708 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
   <mesh filename="package://amigo_description/media/meshes/torsoassistslidertextured.dae" scale="0.004 0.004 0.005"/>
</xacro:my_link_texturedmesh>

<!--back link-->
<xacro:my_link_texturedmesh name="torso_assist_slider_back" mass="0.01" texture="aluminium">
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="-0.4 0.0 0.0" rpy="0 1.5708 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
   <mesh filename="package://amigo_description/media/meshes/torsoassistslidertextured.dae" scale="0.004 0.004 0.005"/>
</xacro:my_link_texturedmesh>
  
<!--left joint-->
<joint name="torso_slider_assist_joint_right" type="fixed">
    <parent link="torso"/>
    <child link="torso_assist_slider_right"/>
    <origin xyz="-0.3 0.1 0.0" rpy="0 0 0"/>
</joint>

<!--right joint-->
<joint name="torso_slider_assist_joint_left" type="fixed">
    <parent link="torso"/>
    <child link="torso_assist_slider_left"/>
    <origin xyz="-0.3 -0.1 0.0" rpy="0 0 0"/>
</joint>

<!--back joint-->
<joint name="torso_slider_assist_joint_back" type="fixed">
    <parent link="torso"/>
    <child link="torso_assist_slider_back"/>
    <origin xyz="-0.3 0.0 -0.1" rpy="1.5708 0 0"/>
</joint>


<!--shoulders (clavicles)-->

<xacro:my_link name="clavicles" mass="0.01" color="Black">
   <box size="0.1 0.436 0.11"/>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
</xacro:my_link>

<joint name="clavicle_joint" type="fixed">
    <parent link="torso"/>
    <child link="clavicles"/>
    <origin xyz="0.05 0.0 0.0" rpy="0 0 0"/>
</joint>


<!--the geometry that seals the torso-->

<!--right-->
<!--<xacro:my_link name="closure_right" mass="0.01" color="White">
   <box size="0.12 0.004 0.155"/>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
</xacro:my_link>

<joint name="closure_right_joint" type="fixed">
    <parent link="torso"/>
    <child link="closure_right"/>
    <origin xyz="0.045 0.12 0.0" rpy="0 0 0"/>
</joint>-->

<!--left-->
<!--<xacro:my_link name="closure_left" mass="0.01" color="White">
   <box size="0.12 0.004 0.155"/>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
</xacro:my_link>

<joint name="closure_left_joint" type="fixed">
    <parent link="torso"/>
    <child link="closure_left"/>
    <origin xyz="0.045 -0.12 0.0" rpy="0 0 0"/>
</joint>-->

<!--bottom-->
<!--<xacro:my_link name="closure_bottom" mass="0.01" color="White">
   <cylinder radius="0.1" length="0.004"/>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
</xacro:my_link>

<joint name="closure_bottom_joint" type="fixed">
    <parent link="torso"/>
    <child link="closure_bottom"/>
    <origin xyz="-0.05 0.0 0.0" rpy="0 1.5708 0"/>
</joint>-->

</robot>
